html {
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}

:root {
  --wht: #fff;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

*::before {
  box-sizing: border-box;
}

*::after {
  box-sizing: border-box;
}

body {
  color: var(--wht);
  background-color: rgb(33, 33, 33);
}

.App {
  height: 100vh;
}

